<h1>CryptoTracker-Markets</h1>

<p>This component demonstrates fetching cryptocurrency markets from Bittrex.</p>

<p *ngIf="!markets"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="markets">
  <thead>
  <tr>
    <th>Market Currency</th>
    <th>Base currency</th>
    <th>Market name</th>
    <th>Min. tradesize</th>
    <th>Created</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let market of markets; let i = index">
    <tr (click)="setClickedRow(i, market.marketName)">
      <td>{{ market.marketCurrency }}</td>
      <td>{{ market.baseCurrency }}</td>
      <td>{{ market.marketName }}</td>
      <td>{{ market.minTradeSize }}</td>
      <td>{{ market.created | date:'dd-MM-yyyy' }}</td>
    </tr>
    <tr *ngIf="i == selectedRow">
      <td><p *ngIf="!marketSummary"><em>Loading...</em></p></td>
      <td colspan="4">
        <table class="table">
          <tr>
            <td>Market: {{marketSummary.marketName}}</td>
            <td>Timestamp: {{marketSummary.timeStamp | date:'dd-MM-yyyy HH:mm'}}</td>
          </tr>
          <tr>
            <td>Low: {{marketSummary.low}}</td>
            <td>High: {{marketSummary.high}}</td>
          </tr>
          <tr>
            <td>Bid: {{marketSummary.bid}}</td>
            <td>Ask: {{marketSummary.ask}}</td>
          </tr>
        </table>
      </td>
    </tr>
  </ng-container>
  </tbody>
</table>
